In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ship = pd.read_csv("test.csv")
ship.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus

In [3]:
ship.shape

(4277, 13)

In [4]:
ship['Age']=ship['Age'].astype(float)

In [5]:
ship['CryoSleep'] = ship['CryoSleep'].fillna(0).astype(int)

In [6]:
ship['VIP'] = ship['VIP'].fillna(0).astype(int)

In [7]:
ship.drop(columns="Name",inplace=True)

In [8]:
ship['Transported'] = ship['Transported'].astype(int)

KeyError: 'Transported'

In [8]:
ship.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,0,B/0/P,TRAPPIST-1e,39.0,0,0.0,0.0,0.0,0.0,0.0,0
1,0002_01,Earth,0,F/0/S,TRAPPIST-1e,24.0,0,109.0,9.0,25.0,549.0,44.0,1
2,0003_01,Europa,0,A/0/S,TRAPPIST-1e,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0

In [9]:
ship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8693 non-null   int64
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8693 non-null   int64
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Transported   8693 non-null   int64
dtypes: float64(6), int64(3), object(4)
memory usage: 883.0+ KB

In [10]:
X = ship.iloc[:, :-1]
print(X)

     PassengerId HomePlanet  CryoSleep     Cabin    Destination   Age  VIP  \
0        0001_01     Europa          0     B/0/P    TRAPPIST-1e  39.0    0
1        0002_01      Earth          0     F/0/S    TRAPPIST-1e  24.0    0
2        0003_01     Europa          0     A/0/S    TRAPPIST-1e  58.0    1
3        0003_02     Europa          0     A/0/S    TRAPPIST-1e  33.0    0
4        0004_01      Earth          0     F/1/S    TRAPPIST-1e  16.0    0
...          ...        ...        ...       ...            ...   ...  ...
8688     9276_01     Europa          0    A/98/P    55 Cancri e  41.0    1
8689     9278_01      Earth          1  G/1499/S  PSO J318.5-22  18.0    0
8690     9279_01      Earth          0  G/1500/S    TRAPPIST-1e  26.0    0
8691     9280_01     Europa          0   E/608/S    55 Cancri e  32.0    0
8692     9280_02     Europa          0   E/608/S    TRAPPIST-1e  44.0    0

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0             0.0        0.0           0.0     0.0     0.0
1           109.0        9.0          25.0   549.0    44.0
2            43.0     3576.0           0.0  6715.0    49.0
3             0.0     1283.0         371.0  3329.0   193.0
4           303.0       70.0         151.0   565.0     2.0
...           ...        ...           ...     ...     ...
8688          0.0     6819.0           0.0  1643.0    74.0
8689          0.0        0.0           0.0     0.0     0.0
8690          0.0        0.0        1872.0     1.0     0.0
8691          0.0     1049.0           0.0   353.0  3235.0
8692        126.0     4688.0           0.0     0.0    12.0

[8693 rows x 12 columns]

In [11]:
y = ship.iloc[:, -1:]
print(y)

      Transported
0               0
1               1
2               0
3               0
4               1
...           ...
8688            0
8689            0
8690            1
8691            0
8692            1

[8693 rows x 1 columns]

# Label Encoding

In [12]:
ship.dropna(inplace=True)

In [13]:
from sklearn.impute import SimpleImputer

# Impute missing values for numeric columns using mean strategy
numeric_columns = ship.select_dtypes(include=['float64', 'int64']).columns
imputer = SimpleImputer(strategy='mean')
ship[numeric_columns] = imputer.fit_transform(ship[numeric_columns])

In [14]:
# Impute missing values for object columns using the most frequent strategy
object_columns = ship.select_dtypes(include=['object']).columns
imputer_object = SimpleImputer(strategy='most_frequent')
ship[object_columns] = imputer_object.fit_transform(ship[object_columns])

In [15]:
# Display the DataFrame after handling missing values
print("\nDataFrame after handling missing values:")
print(ship)

DataFrame after handling missing values:
     PassengerId HomePlanet  CryoSleep     Cabin    Destination   Age  VIP  \
0        0001_01     Europa        0.0     B/0/P    TRAPPIST-1e  39.0  0.0
1        0002_01      Earth        0.0     F/0/S    TRAPPIST-1e  24.0  0.0
2        0003_01     Europa        0.0     A/0/S    TRAPPIST-1e  58.0  1.0
3        0003_02     Europa        0.0     A/0/S    TRAPPIST-1e  33.0  0.0
4        0004_01      Earth        0.0     F/1/S    TRAPPIST-1e  16.0  0.0
...          ...        ...        ...       ...            ...   ...  ...
8688     9276_01     Europa        0.0    A/98/P    55 Cancri e  41.0  1.0
8689     9278_01      Earth        1.0  G/1499/S  PSO J318.5-22  18.0  0.0
8690     9279_01      Earth        0.0  G/1500/S    TRAPPIST-1e  26.0  0.0
8691     9280_01     Europa        0.0   E/608/S    55 Cancri e  32.0  0.0
8692     9280_02     Europa        0.0   E/608/S    TRAPPIST-1e  44.0  0.0

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0             0.0        0.0           0.0     0.0     0.0          0.0
1           109.0        9.0          25.0   549.0    44.0          1.0
2            43.0     3576.0           0.0  6715.0    49.0          0.0
3             0.0     1283.0         371.0  3329.0   193.0          0.0
4           303.0       70.0         151.0   565.0     2.0          1.0
...           ...        ...           ...     ...     ...          ...
8688          0.0     6819.0           0.0  1643.0    74.0          0.0
8689          0.0        0.0           0.0     0.0     0.0          0.0
8690          0.0        0.0        1872.0     1.0     0.0          1.0
8691          0.0     1049.0           0.0   353.0  3235.0          0.0
8692        126.0     4688.0           0.0     0.0    12.0          1.0

[7111 rows x 13 columns]

# Label Encoding

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
# Label encoding for object columns
label_encoder = LabelEncoder()
for column in object_columns:
    ship[column] = label_encoder.fit_transform(ship[column])

In [18]:
ship.head(5)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0,1,0.0,140,2,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0.0,1914,2,24.0,0.0,109.0,9.0,25.0,549.0,44.0,1.0
2,2,1,0.0,1,2,58.0,1.0,43.0,3576.0,0.0,6715.0,49.0,0.0
3,3,1,0.0,1,2,33.0,0.0,0.0,1283.0,371.0,3329.0,193.0,0.0
4,4,0,0.0,1916,2,16.0,0.0,303.0,70.0,151.0,565.0,2.0,1.0

# Model building

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
X = ship.iloc[:, :-1]
y = ship.iloc[:, -1:]

In [21]:
# Assuming X and y are your feature matrix and target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and fit the logistic regression model
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)

# Make predictions
y_pred = logistic_model.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [22]:
y_pred

array([1., 1., 0., ..., 1., 1., 1.])

In [23]:
y_pred = np.array(y_pred)

In [24]:
y_pred = y_pred == 1
y_pred

array([ True,  True, False, ...,  True,  True,  True])

In [25]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)

In [26]:
print("Accuracy:", accuracy)

Accuracy: 0.7856640899508082

In [27]:
y_pred.shape

(1423,)

In [28]:
X_test.shape

(1423, 12)

In [29]:
submission_df = pd.DataFrame({
    'PassengerId': X_test['PassengerId'],
    'Transported': y_pred
})

In [30]:
# Save the DataFrame to a CSV file
submission_df.to_csv('submission.csv', index=False)

In [31]:
submission_df.head(3)

      PassengerId  Transported
3407         2755         True
4241         3437         True
7936         6472        False