In [22]:
import pandas as pd 
import numpy as np

In [23]:
df1 = pd.read_csv('test.csv')
df2 = pd.read_csv('output2.csv')
print(f'shape of df1 :{df1.shape}')
print(f'shape of df2 :{df2.shape}')

shape of df1 :(110023, 13)
shape of df2 :(110023, 1)

In [30]:
df2.head()

          0
0  0.034084
1  0.777895
2  0.014810
3  0.272232
4  0.353133

In [36]:
result_df = pd.concat([df1['id'], df2], axis=1)

In [37]:
result_df.head()

       id         0
0  165034  0.034084
1  165035  0.777895
2  165036  0.014810
3  165037  0.272232
4  165038  0.353133

In [38]:
result_df.to_csv('output2.csv')

In [46]:
d = pd.read_csv('output2.csv')

In [48]:
d.shape

(110023, 2)

In [ ]:
# Save predictions in format used for competition scoring
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)