In [29]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [30]:
train = pd.read_csv('test.csv')
print(f'shape of training data is: {train.shape} and that of the test data is: {train.shape}')

shape of training data is: (110023, 13) and that of the test data is: (110023, 13)

In [31]:
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [32]:
missing_data = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_columns = missing_data[missing_data > 0]
missing_data=pd.concat([missing_data,percent],axis=1, keys=['Total','Percent'])

In [33]:
missing_data.head()

             Total  Percent
id               0      0.0
CustomerId       0      0.0
Surname          0      0.0
CreditScore      0      0.0
Geography        0      0.0

In [34]:
numerical_features = train.drop(columns="id").select_dtypes(include=["number"])

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               110023 non-null  int64
 1   CustomerId       110023 non-null  int64
 2   Surname          110023 non-null  object
 3   CreditScore      110023 non-null  int64
 4   Geography        110023 non-null  object
 5   Gender           110023 non-null  object
 6   Age              110023 non-null  float64
 7   Tenure           110023 non-null  int64
 8   Balance          110023 non-null  float64
 9   NumOfProducts    110023 non-null  int64
 10  HasCrCard        110023 non-null  float64
 11  IsActiveMember   110023 non-null  float64
 12  EstimatedSalary  110023 non-null  float64
dtypes: float64(5), int64(5), object(3)
memory usage: 10.9+ MB

In [36]:
obj_col=train.drop(columns="id").select_dtypes(include=["object"]).columns
obj_col = pd.DataFrame(obj_col,columns=["Object column"])
print(f"number of column that have text => {obj_col.shape}")
obj_col

number of column that have text => (3, 1)

  Object column
0       Surname
1     Geography
2        Gender

In [37]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
train['Surname']=encoder.fit_transform(train['Surname'])
train['Geography']=encoder.fit_transform(train['Geography'])
train['Gender']=encoder.fit_transform(train['Gender'])

In [38]:
import joblib
model = joblib.load('model2.pkl')

In [39]:
# Make predictions on the test set
y_pred = model.predict(train)
print(y_pred.shape)

(110023,)

In [40]:
y_pred.shape
print(type(y_pred))

<class 'numpy.ndarray'>

In [41]:
submission_df = pd.DataFrame({'id': train['id'], 'Exited': y_pred})

# Save the DataFrame to a CSV file for submission
submission_df.to_csv('submission2.csv', index=False)

In [42]:
submission_df.shape

(110023, 2)