In [50]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [51]:
df = pd.read_csv('test.csv')
print(f'shape of training data is: {df.shape}')

shape of training data is: (110023, 13)

In [52]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [53]:
df.drop(columns=["Surname"], inplace=True)

In [54]:
df.head()

,id,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [55]:
missing_data = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_columns = missing_data[missing_data > 0]
missing_data=pd.concat([missing_data,percent],axis=1, keys=['Total','Percent'])

In [56]:
missing_data.head()

             Total  Percent
id               0      0.0
CustomerId       0      0.0
CreditScore      0      0.0
Geography        0      0.0
Gender           0      0.0

In [57]:
numerical_features = df.select_dtypes(include=["number"])

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110023 entries, 0 to 110022
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               110023 non-null  int64
 1   CustomerId       110023 non-null  int64
 2   CreditScore      110023 non-null  int64
 3   Geography        110023 non-null  object
 4   Gender           110023 non-null  object
 5   Age              110023 non-null  float64
 6   Tenure           110023 non-null  int64
 7   Balance          110023 non-null  float64
 8   NumOfProducts    110023 non-null  int64
 9   HasCrCard        110023 non-null  float64
 10  IsActiveMember   110023 non-null  float64
 11  EstimatedSalary  110023 non-null  float64
dtypes: float64(5), int64(5), object(2)
memory usage: 10.1+ MB

In [59]:
obj_col=df.select_dtypes(include=["object"]).columns
obj_col = pd.DataFrame(obj_col,columns=["Object column"])
print(f"number of column that have text => {obj_col.shape}")
obj_col

number of column that have text => (2, 1)

  Object column
0     Geography
1        Gender

In [60]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['Geography']=encoder.fit_transform(df['Geography'])
df['Gender']=encoder.fit_transform(df['Gender'])

In [61]:
print(df.shape)
df.head()

(110023, 12)

,id,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,586,0,0,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,683,0,0,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,656,0,0,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,681,0,1,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,752,1,1,38.0,10,121263.62,1,1.0,0.0,139431.00

In [62]:
import joblib
type(df)

pandas.core.frame.DataFrame

In [63]:
model=joblib.load('model3.pkl')

In [64]:
y_pred = model.predict_proba(df)[:, 1]

In [65]:
print(y_pred.shape)

(110023,)

In [49]:
submission_df = pd.DataFrame({'id': df['id'], 'Exited': y_pred})

# Save the DataFrame to a CSV file for submission
submission_df.to_csv('submission3.csv', index=False)